include LICENSE
include README.rst
include HISTORY.rst
include requirements-dev.txt
include CODE_OF_CONDUCT.md
include tox.ini
include siggen/socorro_sha.txt

recursive-include bin *.sh
recursive-include siggen *.rst
recursive-include siggen *.txt

